.navbar-brand {
  margin-left: 20px;
  font-size: 26px !important;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 700;
  color: #A21F1E !important;
}

#header {
  background-color: black !important;
}

.navbar-nav {
  margin-right: 20px;
}

.navbar-nav a.nav-link {
  color: #ffffff;

}

.navbar-nav a.nav-link.active {
  color: #A21f1e !important;

}


.navbar-nav a.nav-link:hover {
  color: #A21f1e !important;
}

.navbar {
  background-color: black !important;
}

.full-screen-image {
  background-image: url('/images/marvel-banner.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;

}

.blockquote {
  color: white;
  font-size: 25px !important;
}

h1 {
  color: #A21F1E !important;
}



.card:hover {
  background-image: linear-gradient(to bottom right, #A21F1E, #670707);
  color: white;
  transition: background-image 0.7s ease, color 0.9s ease;
  transform: scale(1.05);
}

.book-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

#footer {
  text-align: center;
}